/* Колір основного заголовка, адреси #FFFFFF; */
/* Колір заголовків, кнопок #212121 */
/* Колір другорядний текст #757575 */
/* посилання у футері rgba(255, 255, 255, 0.6); */
/* акцент #2196F3 */
/* Колір фона вторичний #2F303A, #F5F4FA */ 

:root{
    --primary-teхt-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F4FA;
    --title-white-color: #FFFFFF;
    --bg-grey-color: #2F303A;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-teхt-color);
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    
}
.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.logo-text{
    color: #2196f3;
}
.logo-text-white{
    color: var(--title-white-color);
}
ul{
    list-style: none;
}

.header-nav .link{
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* ----Header--- */

.header-nav .link:hover,
.header-nav .link:focus,
.header-tel .item:hover,
.header-tel .item:focus,
.footer-tel .item:hover,
.footer-tel .item:focus{
    color: #2196F3;
 }
 
 .header-tel .item{
    font-style: normal;
    text-decoration: none;
    color: var(--primary-teхt-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
     }


/* ----Hero----- */
.hero{
    background-color: #2F303A;
    width: 1600px;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color) 
}


/* --Quality-- */
.quality-list .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.quality-list .text{
    font-size: 14px;
    line-height: 1.7;
    }

/* ---Comand--- */
.team{
    background-color:var(--primary-bg-color)
}
.team-list .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color)
}
.team-list .text{
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
}

 /* ---Button--- */

 .button{
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--title-white-color)
 }

 .button:hover,
 .button:focus{
    background-color: #188CE8;
 }
 .button-f{
    font-family: inherit;
    cursor: pointer;
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
 }

 .button-f:hover,
 .button-f:focus{
    background-color: var(--accent-color);
    color: var(--title-white-color)
 }


 /* --Footer--- */
 .footer{
    background-color: var(--bg-grey-color)
 }
 .footer .text{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;   
    color: var(--title-white-color);
 }

 .footer-tel .item{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
 }


 /* ---Foto--- */
 .foto .title {
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--title-text-color);
 }
 .foto .link{
    text-decoration: none;
 }
 .foto .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-teхt-color);
       
 }
